<%= form_with(model: @property_types) do |f|%>
    <div>
        <%= f.label :name, 'Name'%>
        <%= f.text_field :name%>
    </div>
      <div>
        <%= f.submit 'Enviar'%>
    </div>
<% end %>
   






